.btn {
    display: inline-block;
    width: auto;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
   background-color: #0A5052; 
   color: #fff;
   font-size: 22px;
   line-height: 20px;
   border-radius: 25px;
   border: none;
   cursor: pointer;
}

.btn:hover {
    background-color: #86EF78;
}