body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
}

body {
    background: rgb(92,151,149);
    background: linear-gradient(90deg, rgba(92,151,149,1) 0%, rgba(52,24,104,1) 47%);
    position: relative;
    height: 100vh;
}

.background-div {
    height: 100%;
    background-image: url(../img/moon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3rem);
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(1rem);
}

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.left-column {
    width: 40%;
    float: left;
    padding: 40px;
    background-color: rgb(79, 51, 117);
    background-image: url(../img/moon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 30px;
}

.main-title {
    display: inline-block;
    width: 100%;
    font-size: 32px;
    font-weight: normal;
}

.bottom-links {
    width: 100%;
    position: absolute;
    bottom: 20px;
    right: 40px;
    left: 40px;
}

.bottom-links > .link {
    color: #fff;
    font-size: 14px;
}

.bottom-links > .symbol {
}

.right-column {
    width: 60%;
    float: right;
    padding: 50px;
    background-color: #fff;
    position: relative;
}

.close {
    color: #737396 ;
    width: 60px;
    height: 60px;
    line-height: 20px;
    font-size: 37px;
    line-height: 55px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.right-column span {
    display: inline-block;
    padding: 10px;
    line-height: 30px;
    margin-left: 15px;
    font-size: 18px;
    }

.right-column a {
    display: inline-block;
    padding: 15px;
    line-height: 20px;
    text-decoration: none;

}

.right-column a:hover {
text-decoration: underline; 
}

